@import 'src/assets/styles/colors';

.nav {
    margin-left: 66px;
    width: 100%;
    max-width: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .dropdown {
        height: 48px;
        display: flex;
        align-items: center;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 7px 20px 8px 20px;
        border-radius: 18px;
        background-color: $black-100;
        width: 143px;
        height: 48px;
        color: $white-100;
    }

    .button:hover {
        background-color: $primary-10;
    }

    .link:hover {
        color: $primary-10;
    }
}