@import 'src/assets/styles/colors';

.wrapper {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.wrapper:hover {
    .radio {
        border: 2px solid $primary-10;
    }

    .text {
        color: $primary-10;
    }
}

.radio {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid $white-5;
}

.radio_active {
    border: 6px solid $primary-10;
}

.text {
    margin-left: 14px;
    color: $black-100;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
