.swiper_wrapper {
    width: 100%;
    @media (min-width: 358px) {
        max-width: 358px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 1024px) {
        max-width: 1024px;
    }
    @media (min-width: 1366px) {
        max-width: 1366px;
    }
    @media (min-width: 1440px) {
        max-width: 1440px;
    }
    @media (min-width: 1920px) {
        max-width: 1920px;
    }
    @media (min-width: 2560px) {
        max-width: 2560px;
    }
}