.customInput {
  border-radius: 12px;
  background: var(--white, #fff);
  border: 2px solid var(--grey-on-white, #8A8B8D);
  color: var(--grey-on-white, #8a8b8d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 18px;
  width: 184px;
}

.customInput:focus {
  border: 2px solid #2b8b7c;
}
