$primary-100: #166659;
$primary-90: #237366;
$primary-50: #20786A;
$primary-10: #2B8B7C;

$black-100: #282828;
$black-90: #262626;

$bg-100: #ECEEF1;
$bg-50: #DADEE4;

$white-100: #FFFFFF;
$white-active: #F2F6FB;
$white-hover: #F9FBFE;
$white-50: #BFC2C8;
$white-10: #8A8B8D;
$white-5: #818386;
$background-gradient: radial-gradient(279.09% 305.69% at 10.56% 109.09%, #2B8B7C 0%, rgba(43, 139, 124, 0.00) 100%);
$white-background-gradient: linear-gradient(180deg, #FFF 0%, #ECEEF1 100%), #FFF;

