@import "src/assets/styles/colors";

.output {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.output_value {
    min-width: 100px;
    min-height: 35px;
    padding: 4px 10px 2px;
    border-radius: 7px;
    border: 2px solid $white-50;
    background: $white-100;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    color: $white-50;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.value {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $white-50;
    margin-left: 4px;
}

.dash {
    width: 36px;
    height: 2px;
    background: $white-50;
    margin: 0 8px 0 8px;
}

.range_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.range_track {
    height: 36px;
    display: flex;
    width: 100%;
}

.range_track_background {
    background-color: $white-50;
    border-radius: 2px;
    width: 100%;
    height: 3px;
}

.range_thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $primary-10;
    position: relative;
    top: 0;
    outline: none;
}
