@import "src/assets/styles/colors";

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.label {
    color: $black-100;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbox {
    cursor: pointer;
    outline: none;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid $black-100;
}

.checkbox_active {
    background: $primary-10;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 2px solid $primary-10;
}

.check {
    position: relative;
    width: 10px;
    height: 10px;
}

.wrapper:hover {
    .label {
        color: $primary-10;
    }

    .checkbox {
        border: 2px solid $primary-100;
    }
}
